manual/_minted-manual
manual/manual.aux
manual/manual.log
manual/manual.out
manual/manual.toc
manual/manual.synctex.gz
examples/*.bai
tests/*.bam
tests/*.bai
tests/*.umis.tab.gz
tests/*.counts.tab.gz
tests/*.genewise.tab.gz
tests/*.plot.pdf
tests/*.log
