manual/_minted-manual
manual/manual.aux
manual/manual.log
manual/manual.out
manual/manual.toc
manual/manual.synctex.gz
examples/*.bai
tests/kv_1000g.tab
tests/sg_100g.tab
web/.index.json
web/linux-64
web/noarch
web/osx-64
web/repodata.json
web/repodata.json.bz2
